 <!-- Page Content -->

 <div id="wrapper">
    <app-sidebar></app-sidebar>
    <app-header></app-header>
    <!-- ==================================-->
    <!-- Inicio page wraper -->
    <!-- ==================================-->
    <div id="page-wrapper">
       <div class="container-fluid">
            <!-- ==================================-->
            <!-- Inicio Breadcrumbs -->
            <!-- ==================================-->
            <app-breadcrumbs></app-breadcrumbs>
            <!-- ==================================-->
            <!-- End Breadcrumbs -->
            <!-- ==================================-->

            <!-- ==================================-->
            <!-- Inicio Router outlet -->
            <!-- ==================================-->
            <router-outlet></router-outlet>
            <!-- ==================================-->
            <!-- Inicio Router outlet -->
            <!-- ==================================-->

       </div>
    </div>
    <!-- ==================================-->
    <!-- Fin page wraper -->
    <!-- ==================================-->
 </div>
 


