
<div class="container">
    <form  id="login" method="POST" >
    <div class="row animated fadeInDownBig">
        <div class="col-md-4 offset-md-4 base">
            <div class="row base1">
                <div class="col-md-6">
                    <img src="assets/images/logo-pmx.png">
                </div>
                <div class="col-md-6 text-center">
                <h1>S.S.E.</h1>
                </div>
            </div>
            <hr>
            <div class="row base3">
                <div class="col-md-12">
                        <div class="form-group">
                            <label for="control_ficha">Control o Ficha</label>
                            <input type="number" class="form-control bordes" id="control_o_ficha" name="control_o_ficha" aria-describedby="control_HELP" placeholder="Control / Ficha">
                            
                        </div>
                        <div class="form-group">
                            <label for="pass">Contraseña</label>
                            <input type="password" class="form-control bordes" id="password" name="password" aria-describedby="pass_lHelp" placeholder="Contraseña">
                            
                        </div>
                </div>
            </div>
            <hr>
            <div class="row bot">
                <div class="col-md-8">
                    <small id="error">No recuerdas tus credenciales ?</small>
                </div>
                <div class="col-md-4">
                <button type="submit" class="btn btn-outline-success btn-block">ENTRAR</button>
                </div>
            </div>
            
        </div>
        <div class="col-md-8  base_1"><br><br><br><br><br><br>
          <h2>SUBDIRECCION DE SALVAGUARDIA ESTRATEGICA</h2>
          <h3>GERENCIA DE ESTRATEGIA Y SISTEMAS DE SEGURIDAD Y MONITOREO</h3>
          <h4>SUBGERENSIA DE SISTEMAS Y MONITORE</h4>

        </div>
    
    </div>
    </form>
    <br>
     
</div>